@import url('https://fonts.googleapis.com/css?family=Metrophobic|Montserrat|Palanquin+Dark');
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  margin: 0;
  color: white;
}
ul {
  margin: 0;

}
li {
  list-style: none;
}
.box {
  height: 700px;
}
.clouds {
  width: 100%;
  max-width: 100%;
}
/*
CAROUSEL
*/
.owl-carousel{
  margin-top:30px;
}
.header-clouds {
  width: 100%;
  position: absolute;
  bottom: -5%;
}
.owl-carousel .owl-nav{
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: calc(50% - 33px);
}
div.owl-carousel .owl-nav .owl-prev, div.owl-carousel .owl-nav .owl-next{
    font-size:36px;
    top:unset;
    bottom: 15px; 
}
.owl-carousel .owl-stage-outer {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left: 10%;
	right: 10%;
	top: -50%;
}
.owl-theme .owl-nav.disabled + .owl-dots{
	width: 5%;
  position: absolute;
  margin-top: 10%;}
.owl-theme .owl-dots .owl-dot {
  transform: rotate(-90deg);

}
.slider {
	margin-top: -5em;
}
.owl-theme .owl-dots .owl-dot span {
  width: 50px;
  background: #4f5d75;
  border-radius: 0;
  margin: 25px 7px;

}
.item h1 {
  letter-spacing: -0.05em;
  font-size: 1.5em;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ef8354;
}
.item {
  font-family: 'Metrophobic', sans-serif;
  font-weight: 800;
  font-size: 5em;
  z-index: 10;
  color: white;
  max-width: 70%;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
}
.espace {
  flex: 2;
}
.logo {
  height: 3em;
}
.active {
  color: #ef8354;
}
.navitem {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 6px 6px;
  z-index: 5;
}
.arriere-plan {
  height: 80%;
  display: block;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

}
#etoile {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 79px 635px #FFF,167px 799px #FFF,1963px 841px #FFF,1414px 76px #FFF,135px 1897px #FFF,822px 1776px #FFF,770px 249px #FFF,1451px 433px #FFF,1024px 413px #FFF,1729px 1463px #FFF,1310px 1868px #FFF,1489px 1883px #FFF,149px 1575px #FFF,26px 464px #FFF,412px 712px #FFF,1403px 1037px #FFF,1278px 267px #FFF,202px 524px #FFF,486px 16px #FFF,122px 327px #FFF,674px 917px #FFF,1477px 560px #FFF,1425px 1705px #FFF,1768px 941px #FFF,444px 1734px #FFF,1200px 48px #FFF,944px 1486px #FFF,769px 462px #FFF,603px 1329px #FFF,838px 180px #FFF,1516px 485px #FFF,1449px 647px #FFF,1066px 1777px #FFF,639px 106px #FFF,514px 663px #FFF,1031px 1230px #FFF,80px 1375px #FFF,416px 1407px #FFF,1169px 17px #FFF,130px 1204px #FFF,793px 273px #FFF,1592px 1946px #FFF,1762px 498px #FFF,184px 1178px #FFF,1054px 1848px #FFF,1390px 743px #FFF,1450px 1992px #FFF,1586px 161px #FFF,1513px 1559px #FFF,949px 1782px #FFF;
  animation: animStar 40s linear infinite;
}
#etoile:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 79px 635px #FFF,167px 799px #FFF,1963px 841px #FFF,1414px 76px #FFF,135px 1897px #FFF,822px 1776px #FFF,770px 249px #FFF,1451px 433px #FFF,1024px 413px #FFF,1729px 1463px #FFF,1310px 1868px #FFF,1489px 1883px #FFF,149px 1575px #FFF,26px 464px #FFF,412px 712px #FFF,1403px 1037px #FFF,1278px 267px #FFF,202px 524px #FFF,486px 16px #FFF,122px 327px #FFF,674px 917px #FFF,1477px 560px #FFF,1425px 1705px #FFF,1768px 941px #FFF,444px 1734px #FFF,1200px 48px #FFF,944px 1486px #FFF,769px 462px #FFF,603px 1329px #FFF,838px 180px #FFF,1516px 485px #FFF,1449px 647px #FFF,1066px 1777px #FFF,639px 106px #FFF,514px 663px #FFF,1031px 1230px #FFF,80px 1375px #FFF,416px 1407px #FFF,1169px 17px #FFF,130px 1204px #FFF,793px 273px #FFF,1592px 1946px #FFF,1762px 498px #FFF,184px 1178px #FFF,1054px 1848px #FFF,1390px 743px #FFF,1450px 1992px #FFF,1586px 161px #FFF,1513px 1559px #FFF,949px 1782px #FFF;
}

#etoile2 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 67px 437px #FFF , 1399px 784px #FFF , 477px 1258px #FFF , 815px 1512px #FFF , 1313px 1539px #FFF , 906px 910px #FFF , 330px 1883px #FFF , 145px 1349px #FFF , 1416px 120px #FFF , 266px 572px #FFF , 1268px 1606px #FFF , 1662px 1645px #FFF , 441px 547px #FFF , 749px 1219px #FFF , 1403px 724px #FFF , 1403px 83px #FFF , 1810px 1861px #FFF , 846px 581px #FFF , 475px 439px #FFF , 1452px 1640px #FFF , 1849px 133px #FFF , 1728px 1792px #FFF , 631px 861px #FFF , 106px 97px #FFF , 1519px 1916px #FFF , 961px 118px #FFF , 1084px 1677px #FFF , 1761px 427px #FFF , 467px 380px #FFF , 1716px 1329px #FFF , 1650px 547px #FFF , 1608px 863px #FFF , 1252px 1732px #FFF , 743px 670px #FFF , 113px 1172px #FFF , 1934px 696px #FFF , 211px 5px #FFF , 1376px 722px #FFF , 1225px 429px #FFF , 1010px 1641px #FFF , 582px 1064px #FFF , 867px 937px #FFF , 1816px 274px #FFF , 1854px 1075px #FFF , 331px 1977px #FFF , 354px 792px #FFF , 1021px 1590px #FFF , 1050px 737px #FFF , 32px 689px #FFF , 889px 1515px #FFF , 475px 271px #FFF , 9px 478px #FFF , 1272px 1968px #FFF , 1761px 258px #FFF , 306px 982px #FFF , 1325px 134px #FFF , 625px 687px #FFF , 795px 334px #FFF , 1169px 330px #FFF , 410px 950px #FFF , 431px 922px #FFF , 1992px 1753px #FFF , 287px 1564px #FFF , 1015px 1254px #FFF , 644px 760px #FFF , 1786px 1513px #FFF , 622px 1291px #FFF , 1636px 1841px #FFF , 1251px 716px #FFF , 1097px 1431px #FFF , 1077px 37px #FFF , 1721px 540px #FFF , 1824px 813px #FFF , 1709px 885px #FFF , 238px 301px #FFF , 1346px 1247px #FFF , 1023px 459px #FFF , 1348px 1691px #FFF , 230px 1542px #FFF , 1639px 97px #FFF , 1729px 311px #FFF , 720px 760px #FFF , 72px 499px #FFF , 407px 486px #FFF , 1366px 492px #FFF , 1039px 1509px #FFF , 644px 1079px #FFF , 642px 963px #FFF , 439px 1008px #FFF , 590px 591px #FFF , 1504px 1963px #FFF , 1562px 1652px #FFF , 1145px 1257px #FFF , 1435px 701px #FFF , 1504px 693px #FFF , 218px 1282px #FFF , 185px 1394px #FFF , 303px 1096px #FFF , 786px 1615px #FFF , 1133px 1436px #FFF , 1897px 96px #FFF , 576px 922px #FFF , 962px 686px #FFF , 621px 1330px #FFF , 1073px 1900px #FFF , 955px 1841px #FFF , 719px 1180px #FFF , 1935px 1746px #FFF , 1759px 1729px #FFF , 135px 1472px #FFF , 165px 1712px #FFF , 1840px 237px #FFF , 1460px 634px #FFF , 1389px 55px #FFF , 1017px 776px #FFF , 1494px 408px #FFF , 595px 712px #FFF , 1609px 639px #FFF , 1686px 971px #FFF , 1604px 1057px #FFF , 1022px 410px #FFF , 265px 976px #FFF , 635px 1553px #FFF , 1595px 890px #FFF , 1323px 605px #FFF , 1103px 264px #FFF , 1123px 356px #FFF , 999px 867px #FFF , 503px 503px #FFF , 1609px 1349px #FFF , 965px 911px #FFF , 1816px 1357px #FFF , 856px 1324px #FFF , 1833px 1907px #FFF , 998px 1446px #FFF , 1673px 701px #FFF , 315px 304px #FFF , 793px 1561px #FFF , 1672px 1492px #FFF , 764px 1149px #FFF , 1437px 1168px #FFF , 312px 1651px #FFF , 314px 1896px #FFF , 673px 78px #FFF , 2px 1445px #FFF , 1822px 1781px #FFF , 311px 687px #FFF , 391px 908px #FFF , 377px 46px #FFF , 875px 666px #FFF , 546px 1904px #FFF , 135px 81px #FFF , 1557px 1212px #FFF , 597px 1258px #FFF , 43px 1923px #FFF , 1818px 544px #FFF , 118px 683px #FFF , 1957px 414px #FFF , 504px 1985px #FFF , 1720px 43px #FFF , 1532px 132px #FFF , 1832px 1182px #FFF , 1367px 961px #FFF , 1753px 450px #FFF , 695px 1352px #FFF , 1873px 751px #FFF , 1354px 1542px #FFF , 1241px 834px #FFF , 1853px 1000px #FFF , 553px 334px #FFF , 1007px 1262px #FFF , 241px 704px #FFF , 1811px 1650px #FFF , 1018px 758px #FFF , 410px 34px #FFF , 1830px 1410px #FFF , 529px 444px #FFF , 1715px 730px #FFF , 1131px 1085px #FFF , 1317px 711px #FFF , 319px 1566px #FFF , 1947px 1934px #FFF , 19px 339px #FFF , 576px 1700px #FFF , 1438px 5px #FFF , 1432px 817px #FFF , 1291px 459px #FFF , 1715px 502px #FFF , 956px 1590px #FFF , 1830px 1016px #FFF , 299px 1085px #FFF , 623px 1066px #FFF , 959px 901px #FFF , 545px 937px #FFF , 1970px 1563px #FFF , 1960px 582px #FFF , 1238px 211px #FFF , 1633px 701px #FFF , 274px 660px #FFF , 1245px 1181px #FFF;
  animation: animStar 50s linear infinite;
}
#etoile2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 67px 437px #FFF , 1399px 784px #FFF , 477px 1258px #FFF , 815px 1512px #FFF , 1313px 1539px #FFF , 906px 910px #FFF , 330px 1883px #FFF , 145px 1349px #FFF , 1416px 120px #FFF , 266px 572px #FFF , 1268px 1606px #FFF , 1662px 1645px #FFF , 441px 547px #FFF , 749px 1219px #FFF , 1403px 724px #FFF , 1403px 83px #FFF , 1810px 1861px #FFF , 846px 581px #FFF , 475px 439px #FFF , 1452px 1640px #FFF , 1849px 133px #FFF , 1728px 1792px #FFF , 631px 861px #FFF , 106px 97px #FFF , 1519px 1916px #FFF , 961px 118px #FFF , 1084px 1677px #FFF , 1761px 427px #FFF , 467px 380px #FFF , 1716px 1329px #FFF , 1650px 547px #FFF , 1608px 863px #FFF , 1252px 1732px #FFF , 743px 670px #FFF , 113px 1172px #FFF , 1934px 696px #FFF , 211px 5px #FFF , 1376px 722px #FFF , 1225px 429px #FFF , 1010px 1641px #FFF , 582px 1064px #FFF , 867px 937px #FFF , 1816px 274px #FFF , 1854px 1075px #FFF , 331px 1977px #FFF , 354px 792px #FFF , 1021px 1590px #FFF , 1050px 737px #FFF , 32px 689px #FFF , 889px 1515px #FFF , 475px 271px #FFF , 9px 478px #FFF , 1272px 1968px #FFF , 1761px 258px #FFF , 306px 982px #FFF , 1325px 134px #FFF , 625px 687px #FFF , 795px 334px #FFF , 1169px 330px #FFF , 410px 950px #FFF , 431px 922px #FFF , 1992px 1753px #FFF , 287px 1564px #FFF , 1015px 1254px #FFF , 644px 760px #FFF , 1786px 1513px #FFF , 622px 1291px #FFF , 1636px 1841px #FFF , 1251px 716px #FFF , 1097px 1431px #FFF , 1077px 37px #FFF , 1721px 540px #FFF , 1824px 813px #FFF , 1709px 885px #FFF , 238px 301px #FFF , 1346px 1247px #FFF , 1023px 459px #FFF , 1348px 1691px #FFF , 230px 1542px #FFF , 1639px 97px #FFF , 1729px 311px #FFF , 720px 760px #FFF , 72px 499px #FFF , 407px 486px #FFF , 1366px 492px #FFF , 1039px 1509px #FFF , 644px 1079px #FFF , 642px 963px #FFF , 439px 1008px #FFF , 590px 591px #FFF , 1504px 1963px #FFF , 1562px 1652px #FFF , 1145px 1257px #FFF , 1435px 701px #FFF , 1504px 693px #FFF , 218px 1282px #FFF , 185px 1394px #FFF , 303px 1096px #FFF , 786px 1615px #FFF , 1133px 1436px #FFF , 1897px 96px #FFF , 576px 922px #FFF , 962px 686px #FFF , 621px 1330px #FFF , 1073px 1900px #FFF , 955px 1841px #FFF , 719px 1180px #FFF , 1935px 1746px #FFF , 1759px 1729px #FFF , 135px 1472px #FFF , 165px 1712px #FFF , 1840px 237px #FFF , 1460px 634px #FFF , 1389px 55px #FFF , 1017px 776px #FFF , 1494px 408px #FFF , 595px 712px #FFF , 1609px 639px #FFF , 1686px 971px #FFF , 1604px 1057px #FFF , 1022px 410px #FFF , 265px 976px #FFF , 635px 1553px #FFF , 1595px 890px #FFF , 1323px 605px #FFF , 1103px 264px #FFF , 1123px 356px #FFF , 999px 867px #FFF , 503px 503px #FFF , 1609px 1349px #FFF , 965px 911px #FFF , 1816px 1357px #FFF , 856px 1324px #FFF , 1833px 1907px #FFF , 998px 1446px #FFF , 1673px 701px #FFF , 315px 304px #FFF , 793px 1561px #FFF , 1672px 1492px #FFF , 764px 1149px #FFF , 1437px 1168px #FFF , 312px 1651px #FFF , 314px 1896px #FFF , 673px 78px #FFF , 2px 1445px #FFF , 1822px 1781px #FFF , 311px 687px #FFF , 391px 908px #FFF , 377px 46px #FFF , 875px 666px #FFF , 546px 1904px #FFF , 135px 81px #FFF , 1557px 1212px #FFF , 597px 1258px #FFF , 43px 1923px #FFF , 1818px 544px #FFF , 118px 683px #FFF , 1957px 414px #FFF , 504px 1985px #FFF , 1720px 43px #FFF , 1532px 132px #FFF , 1832px 1182px #FFF , 1367px 961px #FFF , 1753px 450px #FFF , 695px 1352px #FFF , 1873px 751px #FFF , 1354px 1542px #FFF , 1241px 834px #FFF , 1853px 1000px #FFF , 553px 334px #FFF , 1007px 1262px #FFF , 241px 704px #FFF , 1811px 1650px #FFF , 1018px 758px #FFF , 410px 34px #FFF , 1830px 1410px #FFF , 529px 444px #FFF , 1715px 730px #FFF , 1131px 1085px #FFF , 1317px 711px #FFF , 319px 1566px #FFF , 1947px 1934px #FFF , 19px 339px #FFF , 576px 1700px #FFF , 1438px 5px #FFF , 1432px 817px #FFF , 1291px 459px #FFF , 1715px 502px #FFF , 956px 1590px #FFF , 1830px 1016px #FFF , 299px 1085px #FFF , 623px 1066px #FFF , 959px 901px #FFF , 545px 937px #FFF , 1970px 1563px #FFF , 1960px 582px #FFF , 1238px 211px #FFF , 1633px 701px #FFF , 274px 660px #FFF , 1245px 1181px #FFF;
}

#etoile3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 1325px 1118px #FFF , 1920px 1227px #FFF , 10px 1766px #FFF , 913px 496px #FFF , 684px 1611px #FFF , 878px 1185px #FFF , 1387px 395px #FFF , 382px 1957px #FFF , 176px 219px #FFF , 1373px 1375px #FFF , 19px 928px #FFF , 1157px 82px #FFF , 18px 1587px #FFF , 231px 1143px #FFF , 477px 1187px #FFF , 1318px 244px #FFF , 401px 1717px #FFF , 182px 1540px #FFF , 1913px 923px #FFF , 24px 363px #FFF , 710px 1649px #FFF , 1455px 1701px #FFF , 1740px 991px #FFF , 774px 1522px #FFF , 782px 1033px #FFF , 1603px 429px #FFF , 1536px 805px #FFF , 43px 997px #FFF , 1359px 1655px #FFF , 1944px 1588px #FFF , 1155px 817px #FFF , 92px 1594px #FFF , 707px 300px #FFF , 1977px 787px #FFF , 1478px 1818px #FFF , 132px 439px #FFF , 1825px 342px #FFF , 1228px 1260px #FFF , 1222px 1988px #FFF , 1605px 104px #FFF , 1085px 841px #FFF , 561px 1486px #FFF , 198px 396px #FFF , 1052px 1894px #FFF , 1342px 558px #FFF , 1451px 436px #FFF , 1208px 1269px #FFF , 457px 891px #FFF , 584px 1552px #FFF , 737px 678px #FFF , 391px 577px #FFF , 456px 809px #FFF , 1041px 1956px #FFF , 1408px 1529px #FFF , 1409px 1519px #FFF , 666px 1313px #FFF , 822px 810px #FFF , 1084px 1858px #FFF , 553px 1301px #FFF , 155px 733px #FFF , 124px 675px #FFF , 1806px 107px #FFF , 330px 837px #FFF , 789px 1371px #FFF , 1853px 396px #FFF , 681px 1121px #FFF , 713px 847px #FFF , 730px 475px #FFF , 715px 1800px #FFF , 685px 1927px #FFF , 458px 974px #FFF , 1842px 752px #FFF , 689px 1472px #FFF , 1261px 1900px #FFF , 102px 826px #FFF , 305px 1286px #FFF , 1084px 1732px #FFF , 1521px 1349px #FFF , 224px 632px #FFF , 1175px 1810px #FFF , 1291px 998px #FFF , 345px 691px #FFF , 421px 1331px #FFF , 1019px 151px #FFF , 133px 1495px #FFF , 506px 657px #FFF , 224px 409px #FFF , 1368px 556px #FFF , 1058px 1781px #FFF , 223px 544px #FFF , 1075px 1227px #FFF , 886px 155px #FFF , 1580px 149px #FFF , 628px 1437px #FFF , 186px 1167px #FFF , 1063px 1509px #FFF , 1894px 1045px #FFF , 1225px 57px #FFF , 1565px 1192px #FFF , 1001px 183px #FFF;
  animation: animStar 75S linear infinite;
}
#etoile3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 1325px 1118px #FFF , 1920px 1227px #FFF , 10px 1766px #FFF , 913px 496px #FFF , 684px 1611px #FFF , 878px 1185px #FFF , 1387px 395px #FFF , 382px 1957px #FFF , 176px 219px #FFF , 1373px 1375px #FFF , 19px 928px #FFF , 1157px 82px #FFF , 18px 1587px #FFF , 231px 1143px #FFF , 477px 1187px #FFF , 1318px 244px #FFF , 401px 1717px #FFF , 182px 1540px #FFF , 1913px 923px #FFF , 24px 363px #FFF , 710px 1649px #FFF , 1455px 1701px #FFF , 1740px 991px #FFF , 774px 1522px #FFF , 782px 1033px #FFF , 1603px 429px #FFF , 1536px 805px #FFF , 43px 997px #FFF , 1359px 1655px #FFF , 1944px 1588px #FFF , 1155px 817px #FFF , 92px 1594px #FFF , 707px 300px #FFF , 1977px 787px #FFF , 1478px 1818px #FFF , 132px 439px #FFF , 1825px 342px #FFF , 1228px 1260px #FFF , 1222px 1988px #FFF , 1605px 104px #FFF , 1085px 841px #FFF , 561px 1486px #FFF , 198px 396px #FFF , 1052px 1894px #FFF , 1342px 558px #FFF , 1451px 436px #FFF , 1208px 1269px #FFF , 457px 891px #FFF , 584px 1552px #FFF , 737px 678px #FFF , 391px 577px #FFF , 456px 809px #FFF , 1041px 1956px #FFF , 1408px 1529px #FFF , 1409px 1519px #FFF , 666px 1313px #FFF , 822px 810px #FFF , 1084px 1858px #FFF , 553px 1301px #FFF , 155px 733px #FFF , 124px 675px #FFF , 1806px 107px #FFF , 330px 837px #FFF , 789px 1371px #FFF , 1853px 396px #FFF , 681px 1121px #FFF , 713px 847px #FFF , 730px 475px #FFF , 715px 1800px #FFF , 685px 1927px #FFF , 458px 974px #FFF , 1842px 752px #FFF , 689px 1472px #FFF , 1261px 1900px #FFF , 102px 826px #FFF , 305px 1286px #FFF , 1084px 1732px #FFF , 1521px 1349px #FFF , 224px 632px #FFF , 1175px 1810px #FFF , 1291px 998px #FFF , 345px 691px #FFF , 421px 1331px #FFF , 1019px 151px #FFF , 133px 1495px #FFF , 506px 657px #FFF , 224px 409px #FFF , 1368px 556px #FFF , 1058px 1781px #FFF , 223px 544px #FFF , 1075px 1227px #FFF , 886px 155px #FFF , 1580px 149px #FFF , 628px 1437px #FFF , 186px 1167px #FFF , 1063px 1509px #FFF , 1894px 1045px #FFF , 1225px 57px #FFF , 1565px 1192px #FFF , 1001px 183px #FFF;
}

#titre {
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 800;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
